<div id="modal-login" class="w3-modal" onclick="closeOnOutside(event)">
    <div class="w3-modal-content w3-animate-top w3-card-4" style="max-width:400px" onclick="event.stopPropagation()">
        <div class="w3-container w3-black">
            <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
            <h2>Logowanie</h2>
        </div>
        <div class="w3-container w3-small w3-padding">

            <!-- Komunikaty flash -->
            {% include 'flash_messages.html' %}

            <!-- Błędy formularza -->
            {% for field, errors in login_form.errors.items() %}
              {% for error in errors %}
                <div class="w3-panel w3-red w3-small">{{ error }}</div>
              {% endfor %}
            {% endfor %}

            <form method="post" action="{{ url_for('main.login') }}">
                {{ login_form.hidden_tag() }}

                <p>
                    {{ login_form.username.label }}
                    {{ login_form.username(class="w3-input w3-small w3-border w3-margin-bottom") }}
                </p>

                <p>
                    {{ login_form.password.label }}
                    {{ login_form.password(class="w3-input w3-small w3-border") }}
                </p>

                <p class="w3-center w3-small">
                    {{ login_form.submit(class="w3-button w3-small w3-black w3-margin-top") }}
                </p>

                <p class="w3-center w3-small">
                    Nie masz konta? <a href="#" onclick="switchModal('register')">Zarejestruj się</a>
                </p>
            </form>
        </div>
    </div>
</div>